<%- include('partials/header') %>

<section id="home">
  <div class="container">
    <h1 class="h1 mb-5 mt-3">Welcome to Task Manager</h1>
    <div id="btnDiv">
      <a class="btn btn-dark homeBtn" href="/login" role="button">Login</a>
      <a class="btn btn-outline-secondary homeBtn" href="/register" role="button">Register</a>
    </div>
  </div>
</section>
    
<%- include('partials/footer') %>